*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

/* STRUTTURA SOTTOSTANTE */
.my-container{
    position: relative;
    background-color: #D8DBD5;
}

header{
    width: 100%;
    height: 150px;
    background-color: #009688;
}

/* MAIN */
.chat-container{
    display: flex;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 700px;
    margin-bottom: 25px;

    background-color: #EAEAEA;
    border: 1px solid grey;
}

.br-bottom{
    border-bottom: 1px solid rgb(176, 176, 176);
}

/* COLONNA SINISTRA CON I PROFILI */
.col-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid rgb(176, 176, 176);
}

.header-profile{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;  
    width: 100%;

    height: 60px;
    /* TEST */
}

.my-options{
    color: grey;
}

.notices{
    width: 100%;
    background-color: #8EDAFC;

    height: 100px;
    /* TEST */
}

.fa-bell-slash{
    color: #8EDAFC;
}

.search-bar{
    height: 50px;
}

.chat-box{
    height: calc(100% - 50px - 100px - 60px);
    overflow-y: scroll;
}

.my-span{
    color: lightgray;
    font-size: 12px;
}

.chat{
    background-color: white;
    height: 100px;
}

img{
    height: 100%;
    border-radius: 50%;
}

.col-right{
    width: 70%;
}

.message-area{
    height: calc(100% - 60px - 60px);
    background-image: url(../img/mine.jpg);
}

.sent{
    justify-content: flex-end;
    background-color: #D5F9BA;
    padding: 10px 5px;
}

.received{
    justify-content: flex-start;
    background-color: white;
    padding: 10px 5px;
}

.message-footer{
    height: 60px;
    background-color: #F3EEEA;
}

.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: lightslategray;
}

.active{
    background-color: grey;
}

