*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

/* STRUTTURA SOTTOSTANTE */

/* SPLASH SCREEN */
#splash-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #009688;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    font-weight: bold;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
}
@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}
/* /SPLASH SCREEN */


.my-container{
    position: relative;
    background-color: #D8DBD5;
}

header{
    width: 100%;
    height: 150px;
    background-color: #009688;
}

/* MAIN */
.chat-container{
    display: flex;
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: calc(100vh - 50px);
    margin-bottom: 25px;
    
    background-color: #f6f5f5;
    border: 1px solid grey;
}

.br-bottom{
    border-bottom: 1px solid rgb(176, 176, 176);
}

/* COLONNA SINISTRA CON I PROFILI */
.col-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid rgb(176, 176, 176);
}

.header-profile{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;  
    width: 100%;
    
    height: 60px;
    /* TEST */
}

.my-options{
    color: grey;
}

.notices{
    width: 100%;
    background-color: #8EDAFC;
    
    height: 100px;
    /* TEST */
}

.fa-bell-slash{
    color: #8EDAFC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notices div{
    font-size: 14px;
}

.search-bar{
    height: 50px;
}

.chat-box{
    height: calc(100% - 50px - 100px - 60px);
    overflow-y: scroll;
}

.my-span{
    color: lightgray;
    font-size: 12px;
}

.my-span.last-hour{
    position: absolute;
    top: 5px;
    right: 5px;
}

.chat{
    height: 100px;
}

img{
    height: 100%;
    border-radius: 50%;
}

.chat-box .chat:last-child{
    border-bottom: none;
}

/* COLONNA DESTRA */

.col-right{
    width: 70%;
}

.default-message{
    background-image: url(../img/mine.jpg);
}

.message-area{
    height: calc(100% - 60px - 60px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.my_scroll_btn{
    position: absolute;
    bottom: 70px;
    right: 18px;
}

.sent{
    background-color: #D5F9BA;
    padding: 10px 5px;
}

.received{
    background-color: white;
    padding: 10px 5px;
}

.message-footer{
    border-top: 1px solid rgb(176, 176, 176);
    height: 60px;
    background-color: #F3EEEA;
}

.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: lightslategray;
}

.active{
    background-color: rgb(183, 181, 181);
}

.message-box{
    position: relative;
    overflow-wrap: break-word;
}

.message-box span{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: grey;
}

.message-op{
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
}

.message-card:hover .dropdown-toggle{
    display: block;
}

/* DARK-MODE */
.dark-mode{
    background-color: #222;
    color: #fff;
}

.dark-mode header{
    background-color: #333;
}

.dark-mode .chat-container{
    background-color: #333;
    border: 1px solid black;
    box-shadow: 4px 4px 6px rgba(0,0,0,.2);
}

.dark-mode .message-footer{
    background-color: #333;
}

.dark-mode .message-area{
    background-image: url(../img/dark-theme.jpg);
}

.dark-mode .default-message{
    background-image: url(../img/dark-theme.jpg);
}

.dark-mode .sent{
    background-color: #333;
}

.dark-mode .received{
    background-color: #555;
}

.dark-mode .notices{
    background-color: #555;
}

.dark-mode .fa-bell-slash{
    background-color: #555;
}

/* MEDIA QUERY */
@media screen and (max-width: 992px) {
    .my-container {
        font-size: 10px;
    }

    .notices div{
        font-size: 10px;
    }

    img{
        height: 80%;
    }

    .my-span{
        font-size: 8px;
    }

}


