<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/d61896bf44.js" crossorigin="anonymous"></script>
    <title>Vue Boolzapp</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">

        <!-- SPLASH SCREEN -->
        <div id="splash-screen" v-show="visibleSplash">
            <div class="waviy">
                <span style="--i:1">M</span>
                <span style="--i:2">Y</span><br>
                <span style="--i:3">C</span>
                <span style="--i:4">H</span>
                <span style="--i:5">A</span>
                <span style="--i:6">T</span><br>
                <span style="--i:7">A</span>
                <span style="--i:8">P</span>
                <span style="--i:9">P</span>           
               </div>
        </div>

        <div class="my-container" v-show="!visibleSplash">

            <button @click="darkModeOption" class="btn btn-light position-absolute p-1 rounded-2"><i class="fa-solid fa-circle-half-stroke"></i></button>

            <header></header>

            <main class="chat-container">

                <!-- COLONNA SINISTRA -->
                <div class="col-left">
                    <!-- SEZIONE CON IL PROFILO -->
                    <div class="header-profile br-bottom">
                        <div class="my-img">

                            <img class="me-2" src="./img/avatar_2.jpg" alt="">
                            <span class="fw-bold">Giuseppe</span>

                        </div>
                        <div class="my-options d-flex gap-3 justify-content-center align-items-center">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- SEZIONE DELLE NOTIFICHE -->
                    <div class="notices d-flex align-items-center gap-2 p-3">
                        <i class="fa-solid fa-bell-slash bg-white d-flex justify-content-center align-items-center"></i>
                        <div>
                            <span class="d-block">Ricevi notifiche di nuovi messaggi</span>
                            <a href="#" class="text-black opacity-50">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- SEZIONE CON LE CHAT -->
                    <div class="search-bar br-bottom d-flex p-2 justify-content-center">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" v-model="searchBarText" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Cerca o inizia una nuova chat" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="chat-box">

                        <div v-for="(contact, index) in filterChatName" @click="showConversation(index)" class="chat br-bottom d-flex p-3" :class="contact == activeContactIndex ? ` active` : ``">
                            <img class="me-2" :src="contact.avatar" :alt="contact.name">
                            <div class="d-flex flex-column flex-grow-1 position-relative">
                                <span class="fw-bold">{{ contact.name }}</span>
                                <div v-if="contact.messages.length > 0">
                                    <span class="my-span">{{ contact.messages[contact.messages.length - 1].message }}</span>
                                    <span class="my-span last-hour">{{ getMessageTime(contact.messages[contact.messages.length - 1])}}</span>
                                </div>
                                <div v-else class="my-span">Nessun messaggio</div>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <!-- SEZIONE CON LA CHAT CORRENTE -->
                <div class="col-right d-flex flex-column">

                    <div class="header-profile br-bottom p-2 d-flex">

                        <!-- SEZIONE PROFILO CORRENTE -->
                        <div class="my-img">
                            <img class="me-2" :src="activeContactIndex.avatar" alt="">
                        </div>
                            <div class="d-flex flex-grow-1 flex-column justify-content-start">                            
                                <span class="fw-bold">{{ activeContactIndex.name }}</span>
                                <span class="my-span">{{ activeContactIndex.status }}</span>
                            </div>
                        

                        <div class="my-options px-3 d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-magnifying-glass me-2"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <div class="dropdown">
                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>                               
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" @click="deleteAllMessages(activeContactIndex)" href="#">Elimina messaggi</a></li>
                                    <li><a class="dropdown-item" @click="deleteChat(activeContactIndex)" href="#">Elimina chat</a></li>
                                </ul>
                              </div>
                        </div>

                    </div>

                    <!-- SEZIONE CON MESSAGGIO PREDEFINITO -->
                    <div v-if="predefinedMessage == true" class="flex-grow-1 d-flex align-items-center justify-content-center default-message">
                    </div>
                    <!-- SEZIONE CHAT CORRENTE -->
                    <div class="message-area p-5" ref="myScrollTarget" v-else>

                        <div class="current-chat w-100 h-100">

                            <div  v-for="(currentMessage, index) in activeContactIndex.messages" class="d-flex position-relative message-card" :class="currentMessage.status == `sent` ? ` justify-content-end ` : ` justify-content-start`">
                                <p class="rounded-2 p-3 w-50 message-box" :class="currentMessage.status == `sent` ? ` sent` : ` received`">{{ currentMessage.message }}<span>{{ getMessageTime(currentMessage) }}</span></p>
                                <div class="dropdown">
                                    <button class="dropdown-toggle border-0 bg-transparent message-op" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" @click="deleteMessage(activeContactIndex, index)" href="#">Elimina messaggio</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        
                        
                        <button type="button" @click="scrollToBottom()" class="btn btn-light rounded-2 my_scroll_btn"><i class="fa-solid fa-angles-down"></i></button>
                    </div>
                    
                    <!-- SEZIONE CON BARRA DI INVIO MESSAGGI -->
                    <div class="message-footer d-flex align-items-center w-100">

                        <div class="icon-div">
                            <i class="fa-regular fa-face-smile fs-4"></i>
                        </div>

                        <div class="input-group pe-3">
                            <input type="text" class="form-control" @input="isTyping = true" @keyup.enter="sendMessage" placeholder="Scrivi un messaggio" aria-label="Scrivi un messaggio" aria-describedby="button-addon2" v-model="newMessage">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="sendMessage" @click="isTyping ? sendMessage() : newMassage"><i class="fa-solid" :class="sendMessageOptions"></i></button>
                        </div>

                    </div>
                </div>

            </main>

        </div>

    </div>

    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>